.hero {
  position: relative;
  width: 100%;
}

.hero img {
  width: 100%;
  height: 600px;
  display: block;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero-content h2 {
  margin-bottom: 15px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.hero-content a {
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

h1,
h2,
h3 {
  font-family: "Georgia", serif;
}

/* Paragraphs */
p,
small {
  margin-bottom: 15px;
}

a {
  color: #0077cc;
}

a:hover {
  color: #005fa3;
  text-decoration: underline;
}

section {
  padding-bottom: 40px 0;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

.name-label,
.email-label {
  margin-right: 18px;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.ProjectTitle {
  text-align: center;
  margin-bottom: 30px;
}
.ProjectCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  gap: 30px;
  background-color: black;
  padding: 30px 30px 0px 30px;
  border-radius: 15px;
}

.ProjectCard img {
  width: 100%;
}
.project1-button a,
.project2-button a,
.project3-button a {
  position: absolute;
  text-align: center;
  background: black;
  text-decoration: none;
  padding: 10px 20px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 15px;
  color: white;
  top: 50%;
  transform: translate(-50%, -50%);
}
.project1-button a {
  left: 17%;
}
.project2-button a {
  left: 50%;
}
.project3-button a {
  left: 83%;
}
